tr,
td {
  min-width: 10px;
  padding: 10px;
  text-align: center;
}

button {
  align-content: center;
  display: inline-flex;
  justify-content: center;
  min-width: 8%;
  padding: 0.4%;
  margin-right: 1%;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 1%;
  margin: 5px;
}

h1 {
  text-align: center;
}

div[id] {
  border-color: black;
  border: 0.2px;
  border-style: solid;
  padding: 1%;
}

b {
  color: blue;
  display: flex;
  justify-content: left;
  font-size: x-large;
  margin-bottom: 20px;
}

input[type="checkbox"],
[type="radio"] {
  vertical-align: middle;
  text-align: center;
}

select {
  width: 150px;
  margin-left: 15px;
}

select[multiple] {
  height: 180px;
}

option {
  font-size: large;
}

iframe {
  margin-left: 30px;
}

.tabs {
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  margin: 10px 10px;
}

#prompt-text {
  color: red;
  font-size: x-large;
}

body {
  margin: 1%;
}

.label {
  margin-right: 20px;
}

.input-align {
  margin-bottom: 12px;
  height: 15px;
  width: 150px;
}

.label-input {
  display: inline-block;
  width: 150px;
  text-align: left;
}
textarea {
  height: 150px;
  width: 300px;
}

.div-align {
  display: inline;
}

li {
  display: inline;
  padding-right: 50px;
}

select {
  width: 200px;
}
